/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */
header {
  text-align: center;
  background-color: #003366; /* Navy Blue */
  padding: 60px 0;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
}

header p {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 20px;
}

/* Main content styling */
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  flex: 1;
}

.tool {
  background-color: #333;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.tool:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.tool img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.tool img:hover {
  transform: scale(1.05);
}

.tool h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #fff;
}

.tool p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
}

.download-btn {
  text-decoration: none;
  padding: 12px 20px;
  background-color: #0077cc; /* Light Blue */
  color: white;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #005fa3; /* Darker Blue */
}

/* Footer styling */
footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Fullscreen modal styling */
.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.close-fullscreen {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  color: red;
  cursor: pointer;
  z-index: 1001;
}
